body{
    background-color: #E5E5E5;
    margin: 0;
    padding: 15px;
}

.main-grid-container{
    display: grid;
    grid-template-columns: [tools] 19% [canvas] 79%;
    grid-template-rows: [main] 100%;
    grid-gap: 1%;
}

.toolbar-container, .canvas-container{
    background-color: #fff;
    height: 100vh;
    text-align: center;
}

.big-pencil{
    background-color: #000;
    border: none;
    border-radius: 100%;
    padding: 30px;
}

.mid-pencil{
    background-color: #000;
    border: none;
    border-radius: 100%;
    padding: 15px;
}

.small-pencil{
    background-color: #000;
    border: none;
    border-radius: 100%;
    padding: 2.5px;
}

.brush-size-list-container{
    list-style: none;
    margin:0;
    padding: 0;
}

.brush-size-list-container li {
    margin-bottom: 10px;
}